name: update2deb

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  create-update-deb:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
      - name: Clone repo
        run: git clone https://github.com/Crilum/update

      # Runs a single command using the runners shell
      - name: Prepare for building
        run: |
          cd update
          mkdir -p usr/bin/
          mv update usr/bin/update
          rm CODE_OF_CONDUCT.md
          rm install
          rm install-macos
          rm README.md
          rm LICENSE
          rm -rf debs
          rm -rf Imgs
          rm -rf .github
          mkdir DEBIAN
          cd DEBIAN
          echo "Maintainer: Crilum
          Summary: Updates apps/packages/dependencies from apt, pi-apps, flatpak, snapd, homebrew, and npm
          Name: update 
          Description: Small script to update apps from package managers
          Version: 1.1.0
          License: gpl-3.0
          Architecture: all
          Provides: update
          Priority: optional
          Depends: bash
          Section:
          Recommends: 
          Conflicts: 
          Package: update" > control
          echo "#!/bin/bash
          chmod +x /usr/bin/update
          exit 0" > postinst
          chmod 775 postinst
          cd ../

      # Runs a set of commands using the runners shell
      - name: Run dpkg-deb --build
        run: |
          dpkg-deb --build update

      - uses: actions/upload-artifact@v2
        with:
          name: update_latest_all.deb
          path: update.deb
